html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #2E3440;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}
.clock-wrapper{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 70%;
    left: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    padding: 5px;
    background-image: linear-gradient(#434C5E,#4C566A);
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0,0,0,.15),0 2px 2px rgba(0,0,0,.2);

}
.clock-base{
    width: 250px;
    height: 250px;
    background-color: #3B4252;
    border-radius: 50%;
    box-shadow: 0 0 5px #434C5E;
}
.clock-dial {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
    width: 230px;
    height: 230px;
}
.clock-dial .clock-indicator {
    position: absolute;
    width: 2px;
    height: 4px;
    margin: 113px 114px;
    background-color: #4C566A;
}
.clock-indicator:nth-child(1) {
    transform: rotate(30deg) translateY(-113px);
}
.clock-indicator:nth-child(2) {
    transform: rotate(60deg) translateY(-113px);
}
.clock-indicator:nth-child(3) {
    transform: rotate(90deg) translateY(-113px);
    background-color: #5E81AC;
}
.clock-indicator:nth-child(4) {
    transform: rotate(120deg) translateY(-113px);
}
.clock-indicator:nth-child(5) {
    transform: rotate(150deg) translateY(-113px);
}
.clock-indicator:nth-child(6) {
    transform: rotate(180deg) translateY(-113px);
    background-color: #5E81AC;
}
.clock-indicator:nth-child(7) {
    transform: rotate(210deg) translateY(-113px);
}
.clock-indicator:nth-child(8) {
    transform: rotate(240deg) translateY(-113px);
}
.clock-indicator:nth-child(9) {
    transform: rotate(270deg) translateY(-113px);
    background-color: #5E81AC;
}
.clock-indicator:nth-child(10) {
    transform: rotate(300deg) translateY(-113px);
}
.clock-indicator:nth-child(11) {
    transform: rotate(330deg) translateY(-113px);
}
.clock-indicator:nth-child(12) {
    transform: rotate(360deg) translateY(-113px);
    background-color: #A3BE8C;
}
.clock-hour{
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 128px;
    width: 4px;
    height: 65px;
    background-color: #D8DEE9;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 50px;
    transition: .5s;
    -webkit-animation: rotate-hour 43200s linear infinite;
    -moz-animation: rotate-hour 43200s linear infinite;
}
.clock-minute{
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 128px;
    width: 4px;
    height: 85px;
    background-color: #D8DEE9;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 70px;
    transition: .5s;
    -webkit-animation: rotate-minute 3600s linear infinite;
    -moz-animation: rotate-minute 3600s linear infinite;
}
.clock-second{
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 129px;
    width: 2px;
    height: 130px;
    background-color: #BF616A;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 1px 110px;
    transition: .5s;
    -webkit-animation: rotate-second 60s linear infinite;
    -moz-animation: rotate-second 60s linear infinite;
}
.clock-second:after{
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    bottom: 14px;
    width: 8px;
    height: 8px;
    background-color: #BF616A;
    border: solid 2px #BF616A;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.clock-center{
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    top: 55px;
    left: 55px;
    background-image: linear-gradient(#2e34402c,#3b425270);
    border-radius: 50%;}
.clock-center:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 65px;
    background-color: #ddd;
    border-radius: 50%;
}

.flex{
    display: flex;
}

.waves_con{
    width: 100%;
    position: absolute;
    top: 85%;
}
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
  
  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
 